* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	background-color: rgb(163, 161, 161);
	justify-content: center;
	margin: 0;
	min-height: 100vh;
}

button {
	width: 200px;
	height: 200px;
	border: none;
	font-size: 2rem;
	text-transform: uppercase;
}
